.home {
    margin-top: 350px;
    justify-content: space-between;
    height: 70vh;
    gap: 40px;
}

.home .apresentacao h4,
.home .apresentacao h1,
.home .apresentacao h2 {
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.home .apresentacao h4{
    color: var(--cor-destaque);
    font-weight: 400;
}

.home .apresentacao h1 {
    color: var(--cor-fonte-clara);
    font-family: var(--fonte-sans);
    font-size: 4rem;
}

.home .apresentacao h2 {
    color: var(--cor-fonte-media);
    font-family: var(--fonte-sans);
    font-size: var(--fonte-gigante);
    margin-bottom: 30px;
}

.home .apresentacao .destaque {
    text-decoration: underline;
}

.home .img-container {
    margin: 0 auto;
}

.home .img-container img {
    border: solid 2px var(--cor-fonte-clara);
    border-radius: 50%;
    box-shadow:
    2.8px 2.8px 2.2px rgba(61, 61, 61, 0.493),
    6.7px 6.7px 5.3px rgba(61, 61, 61, 0.069),
    12.5px 12.5px 10px rgba(61, 61, 61, 0.085),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.101),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.122),
    100px 100px 80px rgba(0, 0, 0, 0.17);
    animation: floating-image 7s infinite;
}

@keyframes floating-image{
    0% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-50px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@media (max-width:1125px) {
    .home .apresentacao {
        text-align: center;
        margin: 0 auto 30px;
    }

    .home .apresentacao .redes-sociais {
        justify-content: center;
    }
}