.projetos {
    margin-bottom: 100px;
}

.projetos .titulo-secao {
    margin: 100px 0 100px;
    font-size: 5rem;
    color: var(--cor-fonte-clara);
    font-family: var(--fonte-sans);
    text-align: center;
}

.container-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.container-projetos .projeto {
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
}

.container-projetos .projeto .fundo-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(100,255,218);
    background: linear-gradient(0deg, rgba(100,255,218,1) 20%, rgba(100,255,218,1) 34%, rgba(255,255,255,0.20632002801120453) 100%);
    transform: translateY(400px);
    transition: .6s ease;
}

.container-projetos .projeto .projeto-img {
    border-radius: 50px;
}

.container-projetos .projeto .informacoes-projeto {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 10;
    padding: 0 30px;
    transform: translateY(300px);
    transition: .8s ease;
}

.container-projetos .projeto .titulo-projeto,
.container-projetos .projeto .descricao-projeto,
.container-projetos .projeto .btn-projeto {
    color: var(--cor-fundo-escuro);
    cursor: default;
}

.container-projetos .projeto .titulo-projeto {
    font-family: var(--fonte-sans);
    font-size: var(--fonte-extra-grande);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.container-projetos .projeto .descricao-projeto {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 20px;
}

.container-projetos .projeto .btn-projeto {
    border-radius: 50%;
    background-color: var(--cor-fonte-clara);
    padding: 10px;
    cursor: pointer;
}

.container-projetos .projeto:hover .informacoes-projeto,
.container-projetos .projeto:hover .fundo-hover{
    transform: translateY(0);
}