.projetos {
    margin-bottom: 200px;
}

.projetos .container-projetos {
    gap: 50px;
    justify-content: center;
}

.container-projetos .projeto {
    max-width: 350px;
    max-height: 250px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.container-projetos .projeto .projeto-img {
    border-radius: 20px;
    border: 5px solid var(--cor-fundo-claro);
    box-shadow: 5px 5px 20px var(--cor-fundo-claro);
}

.container-projetos .projeto .fundo-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(100,255,218);
    background: linear-gradient(0deg, rgba(100,255,218,0.9500175070028011) 31%, rgba(100,255,218,0.6474964985994398) 100%);
    left: 0;
    top: 0;
    transition: .4s ease-in-out;
    transform: translateY(250px);
}

.container-projetos .projeto .informacoes-projeto {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 0 25px;
    left: 0;
    top: 0;
    margin: 15px 0;
    color: var(--cor-fundo-escuro);
    transition: .6s ease-in-out;
    transform: translateY(250px);
    cursor: default;
}

.projeto .informacoes-projeto .titulo-projeto {
    font-size: var(--fonte-extra-grande);
    font-weight: 800;
    font-family: var(--fonte-titulo);
    margin-bottom: 10px;
}

.projeto .informacoes-projeto .descricao-projeto {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.projeto .informacoes-projeto .btn-projeto {
    background-color: var(--cor-fonte-clara);
    border-radius: 50%;
    padding: 10px;
    color: var(--cor-fundo-escuro);
    transition: .2s ease;
}

.projeto .informacoes-projeto .btn-projeto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--cor-fundo-escuro);
}

.container-projetos .projeto:hover .fundo-hover, 
.container-projetos .projeto:hover .informacoes-projeto {
    transform: translateY(0);
}

@media (max-width: 450px) {
    .container-projetos .projeto .informacoes-projeto {
        height: 100%;
        overflow-y: scroll;
    }

    .projeto .informacoes-projeto .titulo-projeto {
        font-size: var(--fonte-grande);
        font-weight: 800;
        margin-bottom: 10px;
    }

    .projeto .informacoes-projeto .descricao-projeto {
        font-weight: 500;
        font-size: var(--fonte-pequena);
        margin-bottom: 20px;
    }
}