:root {
    --cor-fundo-escuro: #020C1B;
    --cor-fundo-claro: #112240;
    --cor-destaque: #64FFDA;
    --cor-fonte-clara: #CCD6F6;
    --cor-fonte-media: #8892B0;
    --cor-fonte-escura: #495670;
}

:root {
    --fonte-pequena: 1.4rem;
    --fonte-media: 1.6rem;
    --fonte-grande: 2rem;
    --fonte-extra-grande: 2.4rem;
    --fonte-gigante: 3rem;
}